pkgbase = chromium-extension-decentraleyes
	pkgdesc = Local emulation of Content Delivery Networks
	pkgver = 2.0.19
	pkgrel = 1
	url = https://git.synz.io/Synzvato/decentraleyes
	arch = any
	license = MPL2
	depends = chromium
	noextract = chromium-extension-decentraleyes-2.0.19.crx
	source = chromium-extension-decentraleyes-2.0.19.crx::https://git.synz.io/Synzvato/decentraleyes/uploads/735ff91100f39b2e6b222ad4b9fc453a/Decentraleyes.v2.0.19-chromium.crx
	sha256sums = 9f54afc797b5934d91c0c4d649387f7fd5bc4abe028ee80ba19edf92e943ce1e

pkgname = chromium-extension-decentraleyes
